img {
  height: 75px;
  width: 75px;
}

.boxes {
  display: flex;
  display: -webkit-flex;
  min-height: 200px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
}
